.header{
    background-image: linear-gradient(to bottom right, #000000, #9e928a);

    display: flex;
    align-items: center;
}
.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header .logo{
    max-height: 34px;
}
.header .titulo-grup{
    padding-left: 800px;
}
.header .titulo-grup i{
    padding-right: 8px;
}

