<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

     <ng-container  matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> nome </th>
          <td mat-cell *> {{dataSource}} </td>
     </ng-container>

     <!-- Name Column -->
     <ng-container matColumnDef="cpf">
          <th mat-header-cell *matHeaderCellDef> cpf </th>
          <td mat-cell > {{dataSource}} </td>
     </ng-container>

     <!-- Weight Column -->
     <ng-container matColumnDef="telefone">
          <th mat-header-cell *matHeaderCellDef> telefone </th>
          <td mat-cell > {{dataSource}} </td>
     </ng-container>

     <!-- Symbol Column -->
     <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> email </th>
          <td mat-cell > {{dataSource}} </td>
     </ng-container>
     <ng-container matColumnDef="profissao">
          <th mat-header-cell *matHeaderCellDef> profissao </th>
          <td mat-cell > {{dataSource}} </td>
     </ng-container>
     <ng-container matColumnDef="renda">
          <th mat-header-cell *matHeaderCellDef> renda </th>
          <td mat-cell > {{dataSource}} </td>
     </ng-container>
     <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> status </th>
          <td mat-cell > {{dataSource}} </td>
     </ng-container>
     <ng-container matColumnDef="rua">
          <th mat-header-cell *matHeaderCellDef> rua </th>
          <td mat-cell > {{dataSource}} </td>
     </ng-container>
     <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef> numero </th>
          <td mat-cell > {{dataSource}} </td>
     </ng-container>
     <ng-container matColumnDef="complemento">
          <th mat-header-cell *matHeaderCellDef> complemento </th>
          <td mat-cell > {{dataSource}} </td>
     </ng-container>
     <ng-container matColumnDef="bairro">
          <th mat-header-cell *matHeaderCellDef> bairro </th>
          <td mat-cell > {{dataSource}} </td>
     </ng-container>
     <ng-container matColumnDef="cidade">
          <th mat-header-cell *matHeaderCellDef> cidade </th>
          <td mat-cell > {{dataSource}} </td>
     </ng-container>
     <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> estado </th>
          <td mat-cell > {{dataSource}} </td>
     </ng-container>

     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



