<mat-card class= "card-tabela mat-elevation-z7">
     <table class= "tabela " >
          <!-- Name Column -->
          <ng-container >
               <th  > Name </th>

          </ng-container>

          <!-- Weight Column -->
          <ng-container>
               <th  > Cpf </th>

          </ng-container>

          <!-- Symbol Column -->
          <ng-container >
               <th  > telefone </th>

          </ng-container>

          <ng-container >
               <th  > E-mail </th>
          </ng-container>

          <ng-container >
               <th  > Status </th>
          </ng-container>

          <ng-container >
               <th  > Ações </th>
          </ng-container>

     </table>
     <div class="button">
          <button mat-raised-button color="primary" (click)="novoCliente()">Novo Cliente</button>
     </div>
</mat-card>
