<!DOCTYPE html>

<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
	
		<div class="container">
			<h1> Cadastro de Clientes</h1>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="/listaclientes"> Clientes </a>
				</div>
				<a href="/cliente/formulario"> <button type="button" class="btn btn-success">Novo Cliente</button> </a>
			</nav>
			
			<div class="form-group">
			<form th:object="${requisicaoNovoCliente}" action ="/cliente/novo" method="POST" class="formulario-checkout mt-3 mt-sm-0"  >
			
				<div class="form-group">
					<label for="nome">Nome do Cliente</label>
					<input th:field="*{nome}" placeholder="nome do cliente" class="form-control" type="text" id="nome" name="nome"  maxlength="200" required/>
					<div class="invalid-feedback">
                            O nome é obrigatório.
                        </div>				
				</div>
				<div class="mb-3">	
					<label for="cpf">CPF</label>
					<input th:field="*{cpf}" placeholder="cpf"/>
				</div>
				<div class="mb-3">
					<label for="telefone">Telefone</label>
					<input th:field="*{telefone}" placeholder="telefone"/>
				</div>
				<div class="mb-3">
					<label for="email">E-mail</label>
					<input th:field="*{email}" placeholder="email"/>
				</div>
				<div class="mb-3">
					<label for="rua">Rua</label>
					<input th:field="*{rua}" placeholder="rua"/>
				</div>
				<div class="mb-3">	
					<label for="numero">Número</label>
					<input th:field="*{numero}" placeholder="numero"/>
				</div >
				<div class="mb-3">
					<label for="complemento">Complemento </label>
					<input th:field="*{complemento}" placeholder="complemento"/>
				</div>
				<div class="mb-3">
					<label for="bairro">Bairro</label>
					<input th:field="*{bairro}" placeholder="bairro"/>
				</div>
				<div class="mb-3">	
					<label for="cidade">Cidade</label>
					<input th:field="*{cidade}" placeholder="cidade"/>
				</div>
				<div class="mb-3">	
					<label for="estado">Estado</label>
					<input th:field="*{estado}" placeholder="estado"/>
				</div>
				<div class="mb-3">	
					<label for="profissao">Profissão</label>
					<input th:field="*{profissao}" placeholder="profissao"/>
				</div>
				<div class="mb-3">	
					<label for="renda">Renda</label>
					<input th:field="*{renda}" placeholder="renda"/>
					<small>Maior que 1</small>
				<div class="mb-3">	
					<label for="status">Status</label>
					<input th:field="*{status}" placeholder="status" /> 
					<small>ATIVO ou SUSPENSO</small>
				</div>					
				</div>
				<button type="submit">Cadastrar</button>
			
			</form>
			</div>
		</div>
		 <script src="/validacao.js"></script>
	</body>
</html>