<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{base :: head('formularioCliente')}"></head>

<body>

  <header th:replace="~{base :: header('formularioCliente')}"></header>

  <main id="#" class="container">

    <h1 class="text-center my-5">Cadastrar Cliente</h1>

    <form th:object="${clienteForm}" class="row g-3 formulario-cliente" action="/clientes/novo" method="post"
      novalidate>
      <div class="col-md-12 pt-2">
        <h4>Dados Pessoais:</h4>
      </div>
      <div class="col-md-4">
        <label class="form-label fs-5" for="nome">Nome Completo</label>
        <input th:field="*{nome}" type="text" th:errorclass="is-invalid" class="form-control" data-tipo="nome"
          placeholder="Nome Sobrenome" required>
        
        <div class="invalid-feedback fs-6">
          <span th:errors="*{nome}">Erros do nome do cliente</span>
        </div><small>Informe o nome do cliente</small>
      </div>
      <div class="col-md-4">
        <label class="form-label fs-5" for="cpf">CPF</label>
        <input th:field="*{cpf}" type="text" th:errorclass="is-invalid" class="form-control"
          placeholder="___.___.___-__" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" maxlength="14" data-tipo="cpf" required>
        <small>Informe o CPF do Cliente</small>
        <div class="invalid-feedback">
          <span th:errors="*{cpf}">Erros do cpf do cliente</span>
        </div>
      </div>

      <div class="col-md-4">
        <label class="form-label fs-5" for="telefone">Telefone</label>
        <input th:field="*{telefone}" type="tel" th:errorclass="is-invalid" class="form-control"
          placeholder="(__)9____-____" maxlength="14" data-tipo="telefone" required>
        <small>Informe o telefone do cliente</small>
        <div class="invalid-feedback">
          <span th:errors="*{telefone}">Erros do telefone do cliente</span>
        </div>
      </div>
      <div class="col-md-4">
        <label for="email" class="form-label fs-5">E-mail</label>
        <div class="input-group">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
          <input th:field="*{email}" type="email" th:errorclass="is-invalid" class="form-control"
            placeholder="email@email.com" data-tipo="email" required>
        </div>
        <small>Informe o e-mail do cliente</small>
        <div class="invalid-feedback">
          <span th:errors="*{email}">Erros do email do cliente</span>
        </div>
      </div>

      <div class="col-md-12 pt-2">
        <h4>Endereço:</h4>
      </div>

      <div class="col-md-2">
        <label class="form-label fs-5" for="rua">Rua</label>
        <input th:field="*{rua}" type="text" th:errorclass="is-invalid" class="form-control"
          placeholder="r. das palmeiras" data-tipo="rua" required>
        <small>Informe a rua do cliente</small>
        <div class="invalid-feedback">
          <span th:errors="*{rua}">Erros da rua do cliente</span>
        </div>
      </div>
      <div class="col-md-2">
        <label class="form-label fs-5" for="numero">Número</label>
        <input th:field="*{numero}" type="text" th:errorclass="is-invalid" class="form-control" placeholder="00"
          data-tipo="numero" required>
        <small>Informe o número do endereço</small>
        <div class="invalid-feedback" th:errors="*{numero}">
          <span>Erros do número do cliente</span>
          
        </div>
      </div>
      <div class="col-md-4">
        <label class="form-label fs-5" for="complemento">Complemento</label>
        <input th:field="*{complemento}" type="text" class="form-control" placeholder="Bloco A">
      </div>

      <div class="col-md-4">
        <label class="form-label fs-5" for="bairro">Bairro</label>
        <input th:field="*{bairro}" type="text" th:errorclass="is-invalid" class="form-control" placeholder="Zona Norte"
          data-tipo="bairro" required>
        <small>Informe o bairro do cliente</small>
        <div class="invalid-feedback">
          <span th:errors="*{bairro}">Erros do bairro do cliente</span>
        </div>
      </div>
      <div class="col-md-4">
        <label class="form-label fs-5" for="cidade">Cidade</label>
        <input th:field="*{cidade}" type="text" th:errorclass="is-invalid" class="form-control" placeholder="São Paulo"
          data-tipo="cidade" required>
        <small>Informe a cidade do cliente</small>
        <div class="invalid-feedback">
          <span th:errors="*{cidade}">Erros da cidade do cliente</span>
        </div>
      </div>
      <div class="col-md-4">
        <label for="estado" class="form-label fs-5">UF Estado</label>
        <select th:field="*{estado}" th:errorclass="is-invalid" class="form-select">
          <option selected disabled value="">Selecione...</option>
          <option value="AC">AC</option>
          <option value="AL">AL</option>
          <option value="AP">AP</option>
          <option value="AM">AM</option>
          <option value="BA">BA</option>
          <option value="CE">CE</option>
          <option value="DF">DF</option>
          <option value="ES">ES</option>
          <option value="GO">GO</option>
          <option value="MA">MA</option>
          <option value="MS">MS</option>
          <option value="MT">MT</option>
          <option value="MG">MG</option>
          <option value="PA">PA</option>
          <option value="PB">PB</option>
          <option value="PR">PR</option>
          <option value="PE">PE</option>
          <option value="PI">PI</option>
          <option value="RJ">RJ</option>
          <option value="RN">RN</option>
          <option value="RS">RS</option>
          <option value="RO">RO</option>
          <option value="RR">RR</option>
          <option value="SC">SC</option>
          <option value="SP">SP</option>
          <option value="SE">SE</option>
          <option value="TO">TO</option>
        </select>
        <small>Selecione o estado do cliente</small>
        <div class="invalid-feedback">
          <span th:errors="*{estado}">Erros do estado do cliente</span>
        </div>
      </div>

      <div class="col-md-12 pt-2">
        <h4>Cliente:</h4>
      </div>
      <div class="col-md-4">
        <label class="form-label fs-5" for="profissao">Profissão</label>
        <input th:field="*{profissao}" type="text" th:errorclass="is-invalid" class="form-control"
          placeholder="Engenheiro" data-tipo="profissao" required>
        <small>Informe a profissão do cliente</small>
        <div class="invalid-feedback">
          <span th:errors="*{profissao}">Erros da profissao do cliente</span>
        </div>
      </div>
      <div class="col-md-4">
        <label class="form-label fs-5" for="renda">Renda</label>
        <div class="input-group">
          <span class="input-group-text" id="inputGroupPrepend">R$</span>
          <input th:field="*{renda}" type="number" min="1" step="any" th:errorclass="is-invalid" class="form-control"
            placeholder="Valor maior que 0" data-tipo="renda" required>
        </div>
        <small>Informe a renda do cliente (deve ser maior que 1)</small>
        <div class="invalid-feedback">
          <span th:errors="*{renda}">Erros da renda do cliente</span>
        </div>
      </div>
      <div class="col-md-4">
        <label for="status" class="form-label fs-5">Status</label>
        <select th:field="*{status}" th:errorclass="is-invalid" class="form-select">
          <option selected value="ATIVO">Ativo</option>
          <option value="SUSPENSO">Suspenso</option>
        </select>
        <small>Selecione o status do cliente</small>
        <div class="invalid-feedback">
          <span th:errors="*{status}">Erros do status do cliente</span>
        </div>
      </div>

      <div class="col-12">
        <div class="d-grid gap-2 col-6 mx-auto mt-4 pt-3 pb-3">
          <button class="btn btn-primary fs-5" type="submit">Cadastrar</button>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center fs-5 mb-5">
          <a href="/clientes" class="link-dark">Cancelar</a>
        </div>
      </div>
    </form>

  </main>

  <script src="/dist/js/app.js" type="module"></script>

</body>

</html>