.clt{
    padding: 55px;

}
.end{
    padding: 55px;
}
.distancia{
    padding-right: 20px;
    width:600px;
    margin-top: 30px;
}
.button{
    display: flex;
    justify-content: flex-end;
    bottom: 0;
}
.salvar{
    padding-right: 30px;

}
