<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{base :: head('clientes')}"></head>

<body>

  <header th:replace="~{base :: header('clientes')}"></header>

  <main id="#" class="container-fluid">

    <h1 class="text-center my-5">Lista de Clientes</h1>

    <div class="card mb-5">
      <div class="card-body p-1">
        <table class="table table-striped table-hover pb-0 w-100 h-100">
          <thead>
            <tr class="text-center">
              <th scope="col">ID</th>
              <th scope="col">Nome</th>
              <th scope="col">CPF</th>
              <th scope="col">Telefone</th>
              <th scope="col">Local</th>
              <th scope="col">Renda</th>
              <th scope="col">Status</th>
              <th scope="col">Alterar Status</th>
              <th scope="col">Remover</th>
              <th scope="col">Alterar Cliente</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="cliente : ${clientes}">
              <th scope="row"><span th:text="${cliente.id}" var="id">id</span></th>
              <td><span th:text="${cliente.nome}">nome</span></td>
              <td><span th:text="${cliente.cpf}">cpf</span></td>
              <td><span th:text="${cliente.telefone}">telefone</td>
              <td><span th:text="${cliente.local}">Local</span></td>
              <td><span th:text="${'R$ '+ #numbers.formatDecimal(cliente.renda,3, 'POINT', 2, 'COMMA')}">renda do
                  cliente</td>
              <td><span th:text="${cliente.status}" th:name="${status}">status do cliente</td>
              <td>
                <a class="btn btn-secondary w-100 h-100" role="button"
                  th:href="@{/clientes/status/{id}(id=${cliente.id})}">
                  <th:block th:switch="${cliente.status.name()}">
                    <span th:case="'ATIVO'">Suspender</span>
                    <span th:case="'SUSPENSO'">Ativar</span>
                  </th:block>
                </a>
              </td>
              <td>
                <a class="btn btn-danger w-100 h-100" role="button" type="submit"
                  th:href="@{/clientes/remover/{id}(id=${cliente.id})}">Remover</a>
              </td>
              <td>
                <a class="btn btn-primary w-100 h-100" role="button"
                  th:href="@{/clientes/formularioAtualizacao/{id}(id=${cliente.id})}">Alterar Cliente</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</body>

<style>
  body {
    background-color: gainsboro;
  }

  header {
    font-family: 'Montserrat', sans-serif;
  }

  main {
    font-family: 'Open Sans', sans-serif;
  }

  tr th,
  td {
    text-align: center;
    vertical-align: middle;
  }
</style>

</html>