<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
	
		<div class="container">
			<h1> Cadastro de Clientes</h1>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="/listaclientes"> Clientes </a>
				</div>
				<a href="/listaclientes"> <button type="button" class="btn btn-success">Novo Cliente</button> </a>
			</nav>
			<form action ="/novo" method="POST">
				<div>
					<label for="nomeCliente"> Nome do Cliente</label>
					<input name="nomeCliente" placeholder="nome do cliente"/>
				</div>
				<button type="submit">Cadastrar</button>
			
			</form>
		</div>
	</body>
</html>