<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{base :: head('home')}"></head>

<body>

  <header th:replace="~{base :: header('home')}"></header>

  <main id="#" class="container-fluid">
      <!--Colocar 3 cards butoes que encaminham pra lista de clientes, dividas e cobranca-->
  </main>
</body>

<style>
    body {
      background-color: gainsboro;
    }
  
    header {
      font-family: 'Montserrat', sans-serif;
    }
  
    main {
      font-family: 'Open Sans', sans-serif;
    }
  
    tr th,
    td {
      text-align: center;
      vertical-align: middle;
    }
  </style>
</html>