<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<div class="container">
			<h1> Lista de Clientes</h1>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="/listaclientes"> Clientes </a>
				</div>
				<a href="/cliente/formulario"> <button type="button" class="btn btn-success">Novo Cliente </button> </a>
			</nav>
			</div>
			
			<div th:each="cliente : ${clientes}">
			<br> 
			<div>ID:  <span th:text="${cliente.id}"> </span> </div>
			<div>Cliente:  <span th:text="${cliente.nome}"> </span> </div>
			<div>CPF: <span th:text="${cliente.cpf}">  </span> </div>
			<div>Telefone: <span th:text="${cliente.telefone}">  </span> </div>
			<div>Local: <span th:text="${cliente.endereco.cidade + '/' + cliente.endereco.estado}">Static content </span></div>
			<div>Renda: R$<span th:text="${cliente.renda}">  </span> </div>
			<div>Status: <span th:text="${cliente.status}">  </span> </div>
			<div>  <a th:href="@{/cliente/delete(id=${cliente.id})}"> <button type="button" class="btn btn-danger">Remover </button> </a> </div>
			<div>  <a th:href="@{/cliente/alterarStatus(id=${cliente.id})}"> <button type="button" class="btn btn-warning">Alterar Status </button> </a> </div>
			<div>  <a th:href="@{/cliente/alterarCliente/{id}(id=${cliente.id})}"> <button type="button" class="btn btn-info">Atualizar Dados </button> </a> </div>
				
			</div>
		</div>
	</body>
</html>