<html>
	<head>
		
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<title>Lista de Clientes</title>
	</head>
	<body>
		<div class="container">
			<div class="container">
			<h1> Lista de Clientes</h1>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="/listaclientes"> Clientes </a>
				</div>
				<a href="/cliente/formulario"> <button type="button" class="btn btn-success">Novo Cliente </button> </a>
			</nav>
			
			
			<div>
			<div class="table-responsive" ></div>
			<form action="" class="card-body" method="post">
                    <table class="table table-striped" >
                        <tr>
                            <th scope="col">NOME</th> 
                            <th scope="col">CPF</th>
                            <th scope="col">TELEFONE</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">EMAIL</th>
                            <th scope="col">PROFISSÃO</th>
                            <th scope="col">RENDA</th>
                            <th scope="col">ENDEREÇO </th>
                            <th scope="col"> </th>
                            <th scope="col"> </th>
                            <th scope="col"> </th>
                        </tr>
                        <tr th:each="cliente : ${clientes}">
                            <td><span th:text="${cliente.nome}">nome</span></td>
                            <td><span th:text="${cliente.cpf}">cpf</span></td>
                            <td><span th:text="${cliente.telefone}">telefone</td>
                            <td><span th:text="${cliente.status}">status</span></td>
                            <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;"> <span th:text="${cliente.email}">email</span></td>
                            <td><span th:text="${cliente.profissao}">profissao</span></td>
                            <td><span th:text="${cliente.renda}">renda</span></td>
                            <td><span th:text="${cliente.endereco.cidade}">local</span>/<span th:text="${cliente.endereco.estado}"></span></td>
                            <td><a th:href="@{/cliente/delete(id=${cliente.id})}"> <button type="button" class="btn btn-danger">Remover </button> </a> </td>
                            <td><a th:href="@{/cliente/alterarStatus(id=${cliente.id})}"> <button type="button" class="btn btn-warning"> Status</button> </a> </td>
                            <td> <a th:href="@{/cliente/alterarCliente/{id}(id=${cliente.id})}"> <button type="button" class="btn btn-info">Editar </button> </a> </td>
                    </table>
            </form>
        	</div>
			
		</div>
	</body>
</html>