.home{
    box-shadow: 0 0 1em #0c0c0c;
}
.titulo{
    font-size: 3.3rem;
    font-weight: 300;
    line-height: 1.3;
    text-align: center;
}
.subtitulo{
    font-size: 1.3rem;
    text-align: center;
}
