.tituloForm{
    padding: 29px;
    text-align: center;
    font-size: 3.3rem;;
}
.distancia{
    padding-right: 20px;
    width:250px;
    margin-top: 30px;
}
.formulario{
    padding: 35px;
    text-align: center;
}
