<mat-card  class="tabela mat-elevation-z8">
     <div class="tituloForm">Formulario de Cliente</div>
     <form class="formulario">
          <mat-form-field appearance="fill" class="distancia " aspect = "preencher"  >
               <mat-label>Data de Abertura</mat-label>
               <input matInput type="date" name="nome" placeholder="01/01/2022" required>
          </mat-form-field>
          <mat-form-field appearance="fill" class="distancia "   >
               <mat-label>Descição da divida </mat-label>
               <textarea matInput typeof="text" name="nome" required></textarea>
          </mat-form-field>
          <mat-form-field appearance="fill" class="distancia " aspect = "preencher"  >
               <mat-label>Data de quitação data</mat-label>
               <input matInput type="date" name="nome" placeholder="01/01/2022" >
          </mat-form-field>

     </form>

</mat-card>



