<mat-card  class="tabela mat-elevation-z8">
     <div class="tituloForm">Formulario de Cliente</div>
     <form [formGroup]="form">
          <div class="clt ">
               <mat-form-field appearance="fill" class="distancia "   >
                    <mat-label>NOME</mat-label>
                    <input matInput  type="nome" name="nome" placeholder="nome" required>
               </mat-form-field>
               <mat-form-field appearance="fill"class="distancia">
                    <mat-label>CPF</mat-label>
                    <input matInput  type="cpf" name="cpf" placeholder="cpf" required>
               </mat-form-field>
               <mat-form-field appearance="fill" class="distancia">
                    <mat-label>TELEFONE</mat-label>
                    <input matInput  type="telefone" name="telefone" placeholder="telefone" required>
               </mat-form-field>

               <mat-form-field appearance="fill"class="distancia">
                    <mat-label>EMAIL</mat-label>
                    <input matInput  type="email" name="email" placeholder="Email" required>
               </mat-form-field>
               <mat-form-field appearance="fill"class="distancia">
                    <mat-label>PROFISSAO</mat-label>
                    <input matInput  type="profissao" name="profissao" placeholder="profissao" required>
               </mat-form-field>
               <mat-form-field appearance="fill"class="distancia">
                    <mat-label>RENDA</mat-label>
                    <input matInput type="renda" name="renda" placeholder="renda" required>
               </mat-form-field>
               <mat-form-field appearance="fill"class="distancia">
                    <mat-label>RUA</mat-label>
                    <input matInput type="rua" name="rua" placeholder="rua" required>
               </mat-form-field>
               <mat-form-field appearance="fill"class="distancia">
                    <mat-label>NUMERO</mat-label>
                    <input matInput type="numero" name="numero" placeholder="numero" required>
               </mat-form-field>
               <mat-form-field appearance="fill"class="distancia">
                    <mat-label>COMPLEMENTO</mat-label>
                    <input matInput  type="complemento" name="complemento" placeholder="complemento" required>
               </mat-form-field>
               <mat-form-field appearance="fill"class="distancia">
                    <mat-label>BAIRRO</mat-label>
                    <input matInput  type="bairro" name="bairro" placeholder="bairro" required>
               </mat-form-field>
               <mat-form-field appearance="fill"class="distancia">
                    <mat-label>CIDADE</mat-label>
                    <input matInput type="cidade" name="didade" placeholder="didade" required>
               </mat-form-field>
               <mat-form-field appearance="fill"class="distancia">
                    <mat-label>ESTADO</mat-label>
                    <input matInput type="estado" name="estado" placeholder="estado" required>
               </mat-form-field>
               <mat-form-field appearance="fill"class="distancia">
                    <mat-label>STATUS</mat-label>
                    <input matInput type="profissao" name="profissao" placeholder="profissao" required>
               </mat-form-field>
          </div>
     </form>

     <div class="button ">
          <div class="salvar ">
               <button mat-raised-button (click)="createCliente()" color="primary" style=" width: 150px; height: 40px">
                    Salvar
               </button>
          </div>
          <div class="cancel">
               <button mat-raised-button (click)="cancelar()" style=" width: 150px; height: 40px">
                    Cancelar
               </button>
          </div>
     </div>
</mat-card>


