.tabela{
    box-shadow: 0 0 1em #0c0c0c;
}
.clt{
    padding: 35px;
   text-align: center;
}
.end{
    padding: 55px;
}
.distancia{
    padding-right: 20px;
    width:600px;
    margin-top: 30px;
}
.button{
    display: flex;
    justify-content: flex-end;
    bottom: 0;
}
.salvar{
    padding-right: 30px;
}
.tituloForm{
    padding: 29px;
    text-align: center;
     font-size: 3.3rem;;
}
